format = """[│$directory$git_branch$git_status
└─❯](bold cyan) """

right_format = "[$time$cmd_duration$status$kubernetes$env_var](bold cyan)"

[kubernetes]
disabled = false
format = ' $symbol[\[c\($context\)n\($namespace\))\]](cyan)'

[time]
format = "$time"
disabled = false

[status]
format = " $symbol$status"
disabled = false

[git_branch]
format = "[on](cyan) $branch"

[git_status]
format = '([\[$all_status$ahead_behind\]](cyan))'
conflicted = '!\($count\)'
ahead = '⇡\($count\)'
behind = '⇣\($count\)'
diverged = '⇡\($ahead_count\)⇣\($behind_count\)'
untracked = '?\($count\)'
modified = '+\($count\)'
staged = '✓\($count\)'
renamed = '»\($count\)'
deleted = '✘\($count\)'

[directory]
format = "$path/[$read_only]($read_only_style) "

[cmd_duration]
format = " $duration"

[env_var.PLZ_CONFIG_PROFILE]
format = ' $symbol[\[$env_value\]](cyan)'
symbol = '∆'
